<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

        .mt20 {
            margin-top: 20px;

        }

        footer {
            width: 100%;
            height: 120px;
            line-height: 30px;
            text-align: center;
            font-size: 12px;
            background: rgb(250, 250, 250);
            padding: 30px 0;
            letter-spacing: 2px;
        }
        footer a{
            text-decoration: none;
        }
    </style>
</head>
<body>

<footer class="mt20 center">
    <div class="mt20">
        <a href="https://dumall.baidu.com/">小度商城</a>|
        Du码通道|
        <a href="https://dumall.baidu.com/after-sale-policy">售后政策</a> |
        <a href="https://dumall.baidu.com/footer-question">隐私回答</a> |
        <a href="https://dumall.baidu.com/user-agreement">用户协议</a> |
        DuerOS开放平台|
        <a href="https://dumall.baidu.com/shops">线下门店</a> |
    </div>
    <a href="https://callcenter-dumall.baidu.com/ChatClient/Client.html?AppID=dumall-pc001&isFromLogin=1">
        <img src="../static/img/phone.png" alt="">
    </a>
    <h2> 400-808-1111
        周一至周日 09:00-22:00
    </h2>
    <div>
        qiyehezuo@baidu.com
        企业大宗采购邮箱
        关注我们
        ©2021 Baidu 京ICP证030173 京公网安备11000002000001
    </div>
    <div>违法和不良信息举报电话：185-0130-1238，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</div>
</footer>
</body>
</html>